<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Ознакомиться с Шестёрочкой</title>
</head>
<body>
<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Шестёрочка</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link active-link">Главная</a></li>
                <li class="nav__item"><a href="familiarize.html" class="nav__link">Ознакомиться</a></li>
                <li class="nav__item"><a href="learn-more.html" class="nav__link">Узнать больше</a></li>
            </ul>
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>

<main class="main">
    <section class="home section">
        <div class="familiarize__container container">
            <h2 class="section__title">Наука о питании и здоровье</h2>
            <p class="familiarize__description">
                В "Шестёрочке" мы подходим к питанию осознанно, опираясь на последние научные исследования. Правильное питание - это не просто выбор продуктов, это наука о поддержании баланса и гармонии в организме.
            </p>
            <p class="familiarize__description">
                Согласно исследованиям, рациональное питание способствует поддержанию гомеостаза - постоянства внутренней среды организма. Это влияет на все аспекты нашего здоровья, от иммунной системы до уровня энергии и настроения.
            </p>
            <p class="familiarize__description">
                Наши продукты помогают улучшить состав крови, снизить уровни холестерина и глюкозы, что подтверждено биохимическими анализами. Мы верим, что здоровое питание - это ключ к долгой и активной жизни.
            </p>
            <p class="familiarize__description">
                Приглашаем вас присоединиться к нам в путешествии по миру здорового питания, где каждый продукт подкреплен научными фактами и исследованиями, доказывающими его пользу для вашего тела и ума.
            </p>
        </div>
    </section>
</main>

<script src="/static/js/main.js"></script>
<script src="/static/js/db.js"></script>
</body>
</html>
