<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Ваш Магазин Здорового Питания</title>
</head>
<body>
<header class="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Шестёрочка</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link active-link">Главная</a></li>
                <li class="nav__item"><a href="familiarize.html" class="nav__link">Ассортимент</a></li>
                <li class="nav__item"><a href="learn-more.html" class="nav__link">Полезная информация</a></li>
            </ul>
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>

<main class="main">
    <section class="home section">
        <div class="familiarize__container container">
            <h2 class="section__title">Добро пожаловать в "Шестёрочку" - ваш магазин здорового питания!</h2>
            <p class="familiarize__description">
                В "Шестёрочке" мы предлагаем широкий выбор продуктов для здорового питания, которые помогут вам поддерживать баланс и гармонию в организме.
            </p>
            <p class="familiarize__description">
                Наша продукция - это результат тщательного отбора и строгого контроля качества. Мы работаем только с проверенными поставщиками и производителями, которые разделяют наши принципы здорового образа жизни.
            </p>
            <p class="familiarize__description">
                Каждый продукт в "Шестёрочке" проходит лабораторные испытания, чтобы вы могли быть уверены в его пользе для вашего здоровья. Мы предлагаем продукты, которые способствуют улучшению состава крови, снижению уровней холестерина и глюкозы.
            </p>
            <p class="familiarize__description">
                Приходите к нам за здоровым питанием, которое подкреплено научными исследованиями и доказано экспертами в области диетологии. Мы рады предложить вам не только продукты, но и полезные советы по их использованию для достижения оптимального здоровья и благополучия.
            </p>
        </div>
    </section>
</main>

<script src="/static/js/main.js"></script>
<script src="/static/js/db.js"></script>
</body>
</html>
